* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f5f4f4;
}

.menu-lateral {
  width: 250px;
  height: 100%;
  background-color: #00174a;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 130px solid #00174a;
}

.menu-lateral-hidden {
  width: 60px;
  height: 100%;
  background-color: #00174a;
  display: flex;
  padding-top: 80px;
  margin-bottom: -120px;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 50px solid #00174a;
}

.logo {
  width: 180px;
}

.logo-hidden {
  width: 40px;
  position: relative;
  top: -40px;
  left: 10px;
}

ul {
  list-style: none;
}

button, button:focus {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}

button:active {
  outline: none;
  background: transparent;
  border: 1px solid grey;
}

.menu-btn {
  display: flex;
  align-items: center;
  margin: 0;
  width: 250px;
  background-color: #001033;
  color: white;
  font-size: 18px;
  height: 40px;
  opacity: 0.5;
}

.menu-btn-hidden {
  width: 60px;
  background-color: #001033;
  color: white;
  font-size: 18px;
  height: 40px;
  opacity: 0.5;
}

.menu-btn i {
  margin: 0 30px 0 20px;
}

.arrow {
  position: absolute;
  left: 200px;
}

.menu-btn:focus {
  background-color: #001033;
  opacity: 1;
}

.menu-btn-hidden:focus {
  background-color: #001033;
  opacity: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 250px;
  height: 60px;
  background-color: white;
}

.header-hidden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 60px;
  height: 60px;
  background-color: white;
}

.avatar {
  height: 50px;
  border-radius: 50%;
}

.avatar-wrapper {
  display: flex;
  margin-right: 40px;
}

.logoff-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 20px 0 10px;
}

.logoff-wrapper button {
  color: gray;
}

.show-sidebar {
  margin-left: 20px;
  color: royalblue;
}

.main {
  position: relative;
  margin-left: 250px;
  height: 100%;
  background-color: white;
  border-left: 30px solid #f5f4f4;
  border-right: 30px solid #f5f4f4;
  border-top: 30px solid #f5f4f4;
  padding: 20px;
}

.main-hidden {
  position: relative;
  margin-left: 60px;
  height: 100%;
  background-color: white;
  border-left: 30px solid #f5f4f4;
  border-right: 30px solid #f5f4f4;
  border-top: 30px solid #f5f4f4;
  padding: 20px;
}

.title {
  text-align: center;
  margin-top: 80px;
}

table {
  width: 100%;
  margin-top: 40px;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-header {
  border: solid 1px lightgray;
  color: grey;
  height: 60px;
  overflow: auto;
  overflow-x: hidden;
}

.separator {
  height: 25px;
}

.user-row td {
  border-bottom: 10px solid white;
  height: 50px;
  background-color: #f5f4f4;
  color: grey;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-wrapper {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.search-bar { 
  height: 40px;
  width: 65%;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 40px;
}

.add-button {
  text-align: center;
  color: white;
  font-weight: 800;
  height: 40px;
  border-radius: 20px;
  margin-left: 10px;
  width: 20%;
  background-color: #00174a;
}

.list-avatar {
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.name-wrapper {
  display: flex;
  align-items: center;
  padding-left: 15%;
}

.name-text {
  text-align: center;
}

.th-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 10px;
}

.th-wrapper button {
  opacity: 0.5;
}

.th-wrapper button:focus {
  opacity: 1;
}

.th-wrapper div {
  width: 31px;
}

.acoes-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.acoes-wrapper button {
  color: #00174a;
}

.search-wrapper label {
  position: relative;
  right: -30px;
  top: 10px;
  color: gray;
}

.active {
  background-color: #e6fff3;
  height: 23px;
  padding-top: 3px;
  width: 100px;
  color: #2bd988;
}

@media only screen and (max-width: 1280px) {
  .main {
    margin-left: 60px;
  }

  .menu-lateral {
    width: 60px;
    align-items: flex-start;
  }

  .header {
    margin-left: 60px;
    justify-content: flex-end;
  }

  .header-hidden {
    justify-content: flex-end;
  }

  .logo {
    width: 40px;
    position: relative;
    top: 40px;
    left: 10px;
  }

  .show-sidebar {
    display: none;
  }

  .menu-lateral ul {
    position: relative;
    top: 120px;
  }

  .name-wrapper {
    padding-left: 15%;
    align-items: center;
  }
}

@media only screen and (max-width: 920px) {
  .main {
    margin-left: 60px;
  }

  .name-wrapper {
    justify-content: center;
    align-items: unset;
    padding-left: 0;
    position: relative;
    margin: auto;
  }

  .list-avatar {
    position: relative;
    bottom: 16px;
    right: 20px;
    margin-right: 0;    
    height: 35px;
  }

  .name-text {
    position: relative;
    right: 10px;
    top: 2px;
  }

  .menu-lateral {
    width: 60px;
    align-items: flex-start;
  }

  .header {
    margin-left: 60px;
    justify-content: flex-end;
  }

  .show-sidebar {
    display: none;
  }

  table tr td:before {
    content: attr(data-title);
    position: relative;
    left: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  table tr td {
    display: block;    
  }
  
  .user-row td {
    height: 40px;
    background-color: #fafafa;
    color: grey;
    border-bottom: 5px solid white;
    padding-top: 8px;
    padding-bottom: 12px;
    font-size: 13px;
  }

  table tr {
    border-bottom: 2px solid #00174a;
  }

  table {
    margin-top: 20px;
  }

  .table-header {
    display: none;
  }

  .container {
    flex-direction: column;
    height: 130px;
  }

  .search-wrapper{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .search-bar {
    width: 160px;
  }

  .add-button {
    margin-top: 10px;
    width: 150px;
  }

  .acoes-wrapper {
    align-items: center;
    height: 100%;
  }

  .search-wrapper label {
    position: relative;
    right: 80px;
    top: 30px;
    color: gray;
  }

  .active {
    margin: auto;
  }  
}